
body{
  background-color: #CCC;
}

img{
  
  width: 400px;
  height: 200px;
}

.create_tree{
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7cac9;
  margin-top: 30px;
  margin-bottom: 30px;
}

.create_tree p{
  text-align: center;
  font-size: 1.5em;
  padding-top: 2%;
}

.form-control{
  border-radius: 10px;
}

.control-1{
  width: 60%;
  float: left;
  cursor: pointer;
}

.control-2{
  width: 35%;
  float: right;
  cursor: pointer;
}

.control-2 a{
  color: black;
}

.control-2 a:hover{
  text-decoration: none;
}
