
body{
  background-color:#CCC ;
}

.question{
  width: 700px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.question h3{
  text-align: center;

}

h2{
  border-top: 0.7px solid #CCC;
  border-bottom: 0.7px solid #CCC;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

ol li {
  font-size: 25px;
}
