
body{
  background-image: url("https://d303ny97lru840.cloudfront.net/k-577a160c047c994bb7e5b397/20170727-nativew27-quiz/o-friendship-facebook.jpg");
  object-fit: contain;
}

.more{
  margin-top: 40px;
  border-top: 0.7px solid #CCC;
  border-bottom: 0.7px solid #CCC;
  text-align: center;
}

.more b{
  margin-top: 30px;
  margin-bottom: 30px;
}

#signin{
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #CFDEF3;
  margin-top: 30px;
  margin-bottom: 50px;
}

.signin-title{
  text-align: center;
  font-family: 'Vibur', cursive;
  padding-top: 20px;
}

.signin-img{
  width: 90px;
  height: 70px;
  margin-left: 38%;
}

.signin-signin{
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  margin-top: 10px;
}

.form-control{
  display: inline;
  width: 100%;
  border-radius: 25px;
  border: None;
  margin-bottom: 15px;
}
