
body{
  background-color: #CCC;
}

img{
  weight: 300px;
  height: 200px;
  float: right;
}

.totree{
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7cac9;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

}

.totree p{
  text-align: center;
  font-size: 1.5em;
  padding-top: 2%;
}

.form-control{
  border-radius: 10px;
}
