<!DOCTYPE html>
<!-- font-family: 'Vibur', cursive; -->
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/card.css">
    <link rel="stylesheet" href="../static/css/heard.css">
    <link rel="stylesheet" href="../static/css/question.css">
  </head>

  <header style="background-color: white">
    <p class="logo"><a href="/" title="Trang chủ">The Geeks</a></p>

    <div class="infor">
      {% if not session['loggedin'] %}
      <div class="nav signin">
        <a class="nav-link nav-item" href="{{ url_for('signin') }}">Đăng nhập</a>
        <a class="nav-link nav-item" href="/signup">Đăng Ký</a>
      </div>
      {% else %}
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
          <img  src="https://raisingfilms.madeopen.co.uk/img/profile-pic.svg" alt="" width="24px" height="24px" style="border-radius: 20px" >
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-menu-item" href="{{ url_for('logout') }}">Đăng xuất</a>
        </div>
      {% endif %}
    </div>

    <nav style="background-color: #91a7d0">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link nav-item" href="/">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signin_to_tree">Tham gia vào cây</a>
        </li class="nav-item">
          <a class="nav-link" href="/create_tree">Tạo Cây</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my_tree">Cây của tôi</a>
        </li>
      </ul>
    </nav>
  </header>

  <body>

    {% block page_content %}
    {% endblock %}

  </body>

  <!-- <footer>
    <div class="">
      <h3>The Geeks</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua </p>
    </div>

    <div class="">
      <ul>
        <li> <a href="#">Facebook</a> </li>
        <li> <a href="#">Instargram</a> </li>
        <li> <a href="#">Youtube</a> </li>
      </ul>
    </div>
  </footer> -->

</html>
