{% extends 'base.html' %}

{% block page_content %}
<link rel="stylesheet" href="../static/css/create_tree.css">
  <div class="create_tree">
    <header>
      <p >Tạo cây mới</p>
    </header>

    <form class="container" method="post">
      <input type="text" name="code" class="form-control" value="" placeholder="Tên cây"> <br>
      <input type="password" name="password" class="form-control" value="" placeholder="Mật khẩu của cây"> <br>

      {% for message in get_flashed_messages() %}
       <p>{{ message }}</p>
      {% endfor %}

      <input type="submit"  class="form-control control-1" value="Taọ cây mới">
      <button type="button" class="form-control control-2" name="button" >
        <a href="/">Hủy</a>
      </button>
    </form>

  </div>


{% endblock %}
