{% extends 'base.html' %}

{% block page_content %}
    <h2 class="text-success">Xin chào thành viên {{ username }}</h2>
    <h3 class="text-primary" > Câu hỏi về thành viên {{question.username}} trong nhóm {{ code }}</h3>

    <form class="container" method="post">
      <!-- Tạo một input ẩn chứa ID của lần random đầu tiên,khi đẩy form ta lấy lại id này xuống -->
        <input type="text" name="values" value="{{ question.id }}" style="display: none;">
        <label>{{ question.question }}</label><br>
        <label>{{ question.answer1 }}</label><br>
        <label>{{ question.answer2 }}</label><br>
        <label>{{ question.answer3 }}</label><br>
        <label>{{ question.answer4 }}</label><br>

      <input type="text" name="right_answer" class="form-control" value="" placeholder="Đáp án"> <br>
      <input type="submit" value="Nhập Câu Trả Lời">
    </form>

{% endblock %}
