{% extends 'base.html' %}

{% block page_content %}
    <h3 class="text-primary" >Cây</h3>
    <form class="container" method="post">
      <input type="text" name="code" class="form-control" value="" placeholder="code "> <br>
      <input type="text" name="password" class="form-control" value="" placeholder="Mật khẩu "> <br>
      {% for message in get_flashed_messages() %}
       <p>{{ message }}</p>
      {% endfor %}
      <input type="submit" name="" value="Đăng Nhập vào cây">
    </form>

{% endblock %}
