{% extends 'base.html' %}

{% block page_content %}
<link rel="stylesheet" href="../static/css/signin_to_tree.css">

  <div class="totree">
    <p class="totree-title">Nhập thông tin của cây</p>
    <form class="container" method="post">
      <input type="text" name="code" class="form-control" value="" placeholder="Code"> <br>
      <input type="text" name="password" class="form-control" value="" placeholder="Mật khẩu "> <br>
      {% for message in get_flashed_messages() %}
       <p>{{ message }}</p>
      {% endfor %}
      <input type="submit" name="" class="form-control" value="Đăng nhập vào cây" style="cursor: pointer">
    </form>
  </div>


{% endblock %}
